* {
    padding: 0;
    margin: 0;
}


.contenedor > *{
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.contenedor {
    width: 98%;
	margin: 10px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 20% auto;
    grid-template-rows: auto auto 40% 30% auto;
}

.contenedor .header{
    grid-column: span 2;
    background: #7C83FD;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

.contenedor .header .logo {
    margin-left: 60px;
}

.navegacion {
    grid-column: span 2;
    grid-row: 2 / 3;
    background: #96BAFF;
    display: flex;
    justify-content: start;
    align-items: center;
}

.navegacion ul {
    list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	text-decoration: none;
}

.contenedor .promociones {
    /* grid-area: promociones; */
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    background: #7DEDFF;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.contenedor .main {
    /* grid-area: main; */
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background: #88FFF7;
}

.contenedor .info {
    /* grid-area: info;  */
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    background: #96BAFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor .footer {
    /* grid-area: footer; */
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    background: #7C83FD;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}

.contenedor .promociones img {
    /* display: block; */
    width: 100%;
    margin: 10px;
}

.buttom {
    background: #313472;
    padding: auto;
    width: 100%;
}






